@model List<Fitness.DataObjects.Recipe>
@{
    ViewBag.Title = "Home Page";
}
    
<h2>Recipe Recommendations</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Image</th>
            <th scope="col">Instructions</th>
            <th scope="col">Carbohydrate Calories</th>
            <th scope="col">Protein Calories</th>
            <th scope="col">Fat Calories</th>
            <th scope="col">Meal Type</th>
            <th scope="col">Give Feedback</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var recipe in Model)
        {
        <tr scope="row">
            <td>
                @recipe.RecipeId
            </td>
            <td>
                <img src="@recipe.PhotoUrl" width="50" height="50"/>
            </td>
            <td>
                @recipe.Ingredients
            </td>
            <td>
                @recipe.CarbsCalories
            </td>
            <td>
                @recipe.ProteinCalories
            </td>
            <td>
                @recipe.FatCalories
            </td>
            <td>
                @recipe.IdealMealTime
            </td>
            <td>
                @if (recipe.FeedbackType == Fitness.DataObjects.UserFeedbackType.Like)
                {
                    @Html.ActionLink("Dislike", "LikeRecipe", "Nutrition", new { recipeId = recipe.RecipeId }, new { @class = "btn btn-danger" })
                }
                @if (recipe.FeedbackType == Fitness.DataObjects.UserFeedbackType.Dislike)
                {
                    @Html.ActionLink("Like", "DislikeRecipe", "Nutrition", new { recipeId = recipe.RecipeId }, new { @class = "btn btn-success" })
                }
                @if (recipe.FeedbackType == Fitness.DataObjects.UserFeedbackType.None)
                {
                    @Html.ActionLink("Like", "DislikeRecipe", "Nutrition", new { recipeId = recipe.RecipeId }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Dislike", "LikeRecipe", "Nutrition", new { recipeId = recipe.RecipeId }, new { @class = "btn btn-danger" })
                }
            </td>
        </tr>
        }

    </tbody>
</table>